<h3 class="title is-4">Recipes</h3>
<div class="box">
    <div class="columns">
        <div class="column is-6"><span class="title is-5">Name</span></div>
        <div class="column"><span class="title is-5">OG</span></div>
        <div class="column"><span class="title is-5">FG</span></div>
        <div class="column"><span class="title is-5">ABV</span></div>
        <div class="column"><span class="title is-5">IBU</span></div>
        <div class="column"><span class="title is-5">SRM</span></div>
    </div>

    <% recipes.each do |recipe| %>
        <div class="columns">
            <div class="column is-6">
                <div class="title is-6">
                    <a href="recipe/<%= recipe['GUID'] %>">
                        <%= recipe['Name'] %>
                    </a>
                </div>
                <div class="subtitle is-6"><%= recipe['Style'] %></div>
                <div class=""><%= recipe['TastingNotes'] %></div>
            </div>
            <div class="column"><%= recipe['OG'] %></div>
            <div class="column"><%= recipe['FG'] %></div>
            <div class="column"><%= recipe['ABV'] %></div>
            <div class="column"><%= recipe['IBU'] %></div>
            <div class="column"><%= recipe['SRM'] %></div>
        </div>
    <% end %>
</div>
<div>
    <a href="/api/recipes?format=pretty" target="_blank">[Raw]</a>
    <pre class="hidden"><%= JSON.pretty_generate(recipes) %></pre>
</div>
