<section class="section">
    <div class="container">
        <h3 class="title is-4">Log</h3>
        <div class="box" style="height: 450px">
            <style>
                #log-table  {
                  overflow-y: scroll;
                  height: 400px;
                  display: block
                }
            </style>
            <table id="log-table" class="table is-fullwidth">
                <thead>
                <tr>
                    <th>Date</th>
                    <th>Wort &#8457;</th>
                    <th>Step</th>
                </tr>
                </thead>
                <tbody>
                <% log.each do |entry| %>
                    <tr>
                        <td><%= entry['Date'] %></td>
                        <td><%= entry['WortTemp'] %>&deg;</td>
                        <td><%= entry['Event'] %></td>
                    </tr>
                <% end %>
                </tbody>
            </table>
        </div>
    </div>

    <div>
        <a href="/api/session/<%= session_id %>/log?format=pretty" target="_blank">[Raw]</a>
        <pre class="hidden"><%= JSON.pretty_generate(log) %></pre>
    </div>
</section>
